<!-- <div class="container shadow-lg my-3 p-3 rounded">
    <div *ngIf="flag && !buttonClicked; else otpMod">
      <button class="btn btn-primary" (click)="getOTPFromApi()">Send OTP</button>
    </div>
    <ng-template #otpMod>
      <div>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      </div>
    </ng-template>
</div> -->

<div class="container shadow-lg my-3 p-3 rounded">
    <div class="d-flex justify-content-center flex-column align-items-center ">
      <div>
        <h2 class="text-primary text-center">Verify OTP</h2>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center my-3" *ngIf="showTimer">
        <div>
          <p class="text-left" *ngIf="countdown!=0">Time left: {{countdown<10 ? '0'+countdown+'s' : countdown+'s'}}</p>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <p>Don't recieve OTP? </p>
          <a  (click)="resendOTP()" class="text-decoration-underline">Resend Again</a>
        </div>
    </div>
</div>