<div class="container shadow-lg my-3 p-3 rounded">
    <div *ngIf="flag && !buttonClicked; else otpMod">
      <button class="btn btn-primary" (click)="getOTPFromApi()">Send OTP</button>
    </div>
    <ng-template #otpMod>
      <div>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      </div>
    </ng-template>
</div>
<!-- 
<div class="container shadow-lg my-3 p-3 rounded">
    <div class="d-flex justify-content-center flex-column align-items-center ">
      <div>
        <h2 class="text-primary text-center">Enter OTP</h2>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      </div>
      <div>
        <p>Time Left</p>
        
      </div>

    </div>
</div> -->